// module.exports = {
//   extends: ["react-app", "react-app/jest"],
//   overrides: [
//     {
//       "files": ["**/*.js?(x)"],
//       "rules": {
//           "no-unused-vars": [0]
//       }
//     }
//   ]
// }

{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "rules": {
      "no-unused-vars": [0]
    }
  }
}
