.character,
.statsPage {
  background-image: url("https://images8.alphacoders.com/130/1304871.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.characterHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.characterHeader h1 {
  color: #282c34;
  font-weight: bold;
  text-shadow: oldlace 1px 0 10px;
}

hr {
  width: 75vw;
  height: 25px;
}

.printPage {
  background-image: url("https://freerangestock.com/sample/47810/old-tainted-parchment--grunge-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
.printBody {
  display: flex;
  flex-direction: column;
}
.printBody h2 {
  font-size: x-large;
  margin-bottom: 0;
}
.printBody p,
.printBody li {
  font-size: large;
  margin-top: 0;
}

.secondForm {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  float: right;
}

.printArmor {
  display: flex;
  flex-direction: column;
}
.printArmor p {
  margin-top: 1%;
  margin-left: 2%;
}

.generate {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-right: 7%;
}
.title {
  width: 75vw;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  flex-wrap: wrap;
  margin-bottom: 2%;
  width: 85vw;
}
.buttons button {
  font-size: medium;
  background-color: #282c34;
  border: none;
  margin-bottom: 2%;
  margin-left: 1%;
}
.buttons button:hover {
  background-color: #282c34;
}
.buttons button:active {
  background-color: red;
}

.characterVisual {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  padding-right: 2%;
  margin-left: 0;
}
form {
  margin-bottom: 2%;
  padding-left: 0;
  margin-left: 0;
}
form li {
  font-size: larger;
}

.wholeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: oldlace;
  opacity: 80%;
  width: 70vw;
  margin: auto;
  margin-bottom: 3%;
  border-radius: 3%;
}
#wholePrintForm {
  width: 50vw;
}
.printForm {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  padding-left: 7%;
}

.topForm {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.buttonHolder {
  display: flex;
  align-self: center;
  font-family: "MedievalSharp", cursive;
}

.names {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 35%;
  font-size: x-large;
}
.name {
  font-size: large;
}
#dice {
  width: 37vw;
  margin-right: 2%;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.traits,
.features {
  display: flex;
  flex-direction: column;
}
.features {
  width: 27vw;
}
.traits {
  padding-bottom: 0%;
  width: 25vw;
}
.traitData,
.featuresData {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
}
.traitData p,
.featuresData p {
  font-size: medium;
}

option {
  width: fit-content;
}

a {
  margin: 1%;
}
.arrow {
  /* margin-top: 0; */
  margin-left: 1%;
  padding-bottom: 1%;
}

.form-group {
  display: flex;
  flex-direction: column;
}
h2 {
  font-weight: bold;
}
#statsTitle {
  color: oldlace;
}

.statGroup li,
.statGroup p {
  font-weight: normal;
}

.refresh {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  text-align: right;
  padding-bottom: 1%;
  color: oldlace;
  font-family: "MedievalSharp", cursive;
}

.toPrint {
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  text-align: right;
  padding-bottom: 1%;
  color: oldlace;
  font-family: "MedievalSharp", cursive;
}
p,
li {
  font-size: 22px;
}
.icon {
  margin-left: auto;
}
.navbar {
  padding-top: 2%;
  font-family: "MedievalSharp", cursive;
  width: 95vw;
}

.statsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: auto;
}

#spellPage {
  height: 110vh;
}
.statGroup,
.equipment {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.groupOne,
.groupTwo,
.oneForAll,
.goldandMagic {
  background-color: oldlace;
  border-radius: 5%;
  padding: 4%;
  color: #282c34;
}
.oneForAll,
.goldandMagic {
  width: 27vw;
}
.groupOne,
.groupTwo {
  opacity: 80%;
  width: 30vw;
}
.groupOne {
  margin-right: 10%;
  padding-left: 7%;
}

.oneForAll {
  margin-right: -10%;
}

.spells {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.spellList {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 75vw;
  margin: 2% 0;
}
#descriptionList1,
#descriptionList2,
#cantripDesc {
  list-style-type: none;
}
.spellList li {
  font-size: 17px;
}
.spellGroup1,
.spellGroup2,
.cantripGroup {
  background-color: oldlace;
  opacity: 75%;
  border-radius: 10px;
  padding: 2%;
  margin-right: 1%;
  width: 33%;
}
.d6 {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 2%;
  text-align: center;
  width: 100%;
  color: oldlace;
  text-align: left;
}
.explorers {
  align-self: auto;
}
.Dragonborn {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/340/420/618/636272677995471928.png");
  height: 95vh;
  max-width: 30vw;
}

.Dwarf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/254/420/618/636271781394265550.png");
  height: 83vh;
  max-width: 30vw;
}

.Elf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/7/639/420/618/636287075350739045.png");
  max-width: 30vw;
  height: 100vh;
  opacity: 100%;
}

.Gnome {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/334/420/618/636272671553055253.png");
  height: 75vh;
  max-width: 31vw;
}

.Half-Elf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/481/420/618/636274618102950794.png");
  max-width: 30.5vw;
  height: 100vh;
}

.Halfling {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/256/420/618/636271789409776659.png");
  height: 90vh;
  max-width: 30vw;
}

.Half-Orc {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/466/420/618/636274570630462055.png");
  height: 90vh;
  max-width: 30vw;
}
.Human {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/258/420/618/636271801914013762.png");
  max-width: 27vw;
  height: 100vh;
}
.Tiefling {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/7/641/420/618/636287076637981942.png");
  max-width: 30vw;
  height: 100vh;
}

#treasurePage {
  background-image: url("https://wallpaper-house.com/data/out/9/wallpaper2you_311594.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 2%;
  color: oldlace;
}

#monsterPage {
  background-image: url("https://cdn.openart.ai/stable_diffusion/3bb19a16e101a2ac2e7be1e19f41cbd8a8140ff2_2000x2000.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: oldlace;
}
.monsterTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}
#monsterActions li {
  font-weight: normal;
}
.reroll {
  margin-bottom: 2%;
}

.modal-content .modal-title,
.modal-body p {
  color: #282c34;
  font-family: "Recursive", sans-serif;
}

.modal-body p {
  font-size: large;
}
.modalImage {
  height: 250px;
  margin-left: 28%;
  margin-bottom: 2%;
}

.heroModal {
  height: 250px;
  margin-left: 1%;
}
.diceModal {
  height: 250px;
  margin-left: 10%;
}

.monsterDetails {
  flex-direction: column;
  align-items: center;
}
.monsterDetails h1 {
  font-size: 55px;
}

.monsterGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.monsterGroup1,
.monsterGroup2 {
  height: 75vh;
  background-color: oldlace;
  opacity: 80%;
  color: black;
  padding: 2%;
  margin: 2%;
  width: 40vw;
  height: fit-content;
  border-radius: 10px;
}
footer {
  position: absolute;
  padding-bottom: 1%;
  left: 0;
}
.monsterImage img {
  height: 40vh;
}
.monsterImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#statHomeButton {
  margin-top: 2%;
  background-color: #282c34;
  border: none;
  width: 175px;
  margin-bottom: 2%;
}
.monsterStats,
.boringStats {
  padding-top: 1%;
}
.monsterStats li,
.monsterDesc p {
  font-size: 1.2rem;
  font-weight: normal;
}
#speedList p,
#armorType p {
  font-weight: normal;
}
#monsterActions li {
  font-size: 1.2rem;
}
.boringStats {
  width: 50%;
}
.boringStats p {
  font-size: large;
}
.speedList,
#armorType {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.monsterGroup2 li {
  font-size: medium;
}

.dropDowns {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  justify-content: space-evenly;
  align-content: center;
  height: 50vh;
  text-align: center;
  background-color: oldlace;
  opacity: 85%;
  margin-left: auto;
  margin-right: auto;
  color: #282c34;
  border-radius: 35px;
}
.dropDowns label {
  font-weight: 500;
}

.dropDowns input,
.dropDowns select,
.dropDowns option {
  text-align: center;
  background-color: transparent;
  border-width: thick;
  font-weight: normal;
  font-size: large;
}

.dropDowns button {
  margin-top: 1%;
}

#dropDowns {
  width: 45vw;
  height: 65vh;
}

.equipment {
  display: flex;
  flex-direction: row;
  opacity: 90%;
}
.goldandMagic img {
  width: 40vh;
  padding-top: 10%;
}
.oneForAll h3,
#goldCount,
#magicFound {
  font-weight: bold;
}

.treasureImage {
  margin-left: 10%;
  height: 350px;
  border-radius: 10%;
}

#errorMessage,
#charError {
  color: red;
  font-size: x-large;
  font-weight: bold;
}
#charError {
  margin: auto;
}
