.character,
.statsPage,
.printPage {
  background-image: url("https://images8.alphacoders.com/130/1304871.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
.printPage {
  height: 100vh;
}

.generate {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-right: 7%;
}
.title {
  width: 75vw;
}
.buttons,
.treasure {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}
.treasure h3 {
  margin-left: 2%;
}
.characterVisual {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}
form {
  /* margin-right: auto; */
  margin-bottom: 2%;
  padding-left: 0;
  margin-left: 0;
  /* width: auto; */
}

.wholeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: oldlace;
  opacity: 80%;
  width: fit-content;
  margin: auto;
  padding: 2% 5%;
  border-radius: 3%;
}

.topForm {
  display: flex;
  flex-direction: row-reverse;
}

.buttonHolder {
  display: flex;
  align-self: center;
}

.names {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 35%;
  font-size: x-large;
}
.name {
  font-size: large;
}
#dice {
  width: 25vw;
  margin-right: 2%;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.traits,
.features {
  display: flex;
  flex-direction: column;
}
option {
  width: fit-content;
}
.traits {
  margin-bottom: 5%;
}
a {
  margin: 1%;
}
#arrow {
  margin-top: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}
h2 {
  font-weight: bold;
}
#statsTitle {
  color: white;
}
.refresh {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  text-align: right;
  margin-top: 2%;
  color: white;
}
.goBack {
  justify-content: center;
  align-items: right;
  display: flex;
  flex-direction: column;
  /* padding: 0 5%; */
  text-align: right;
  width: 100%;
  margin-right: 10%;
}
.toSpells {
  /* padding: 0 10%; */
  /* margin-left: 10%; */
  width: 100%;
  align-items: left;
}
/* h3{
    text-decoration: underline;
  } */
p,
li {
  font-size: 22px;
}
.icon {
  margin-left: auto;
}

.navArrows {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
}
.navArrows p {
  overflow-wrap: normal;
}
hr {
  width: 75vw;
  height: 10px;
}
.statsPage,
.spellPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 100vh;
}
/* .statsPage {
  height: fit-content;
} */
#spellPage {
  height: 100vh;
}
.statGroup,
.equipment {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.groupOne,
.groupTwo,
.oneForAll,
.goldandMagic {
  background-color: oldlace;
  opacity: 80%;
  border-radius: 5%;
  padding: 4%;
  color: #282c34;
  width: 27vw;
}
.groupOne {
  margin-right: 10%;
  padding-left: 7%;
}

.oneForAll {
  margin-right: -10%;
}

.spells {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.spellList {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 75vw;
  margin: 2% 0;
}
#descriptionList1,
#descriptionList2,
#cantripDesc {
  list-style-type: none;
}
.spellList li {
  font-size: 17px;
}
.spellGroup1,
.spellGroup2,
.cantripGroup {
  background-color: oldlace;
  opacity: 75%;
  border-radius: 10px;
  padding: 2%;
  margin-right: 1%;
  width: 33%;
}
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
}
.explorers {
  align-self: auto;
}
/* character images */
.Dragonborn {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/340/420/618/636272677995471928.png");
  height: 72vh;
  /* border: 0; */
}

.Dwarf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/254/420/618/636271781394265550.png");
  height: 63vh;
  /* border: 0; */
}

.Elf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/7/639/420/618/636287075350739045.png");
  max-width: 23vw;
  height: 73vh;
  opacity: 100%;
}

.Gnome {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/334/420/618/636272671553055253.png");
  height: 57vh;
  max-width: 23vw;
  /* border: 0; */
}

.Half-Elf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/481/420/618/636274618102950794.png");
  max-width: 23.3vw;
  height: 75vh;
  /* border: 0; */
}

.Halfling {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/256/420/618/636271789409776659.png");
  height: 68vh;
  max-width: 24vw;
  /* border: 0; */
}

.Half-Orc {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/466/420/618/636274570630462055.png");
  height: 66vh;
  max-width: 23vw;
  /* border: 0; */
}
.Human {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/258/420/618/636271801914013762.png");
  max-width: 20vw;
  height: 75vh;
  /* border: 0; */
}
.Tiefling {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/7/641/420/618/636287076637981942.png");
  max-width: 23vw;
  height: 75vh;
  /* border: 0; */
}

/* "https://us.123rf.com/450wm/lineartestpilot/lineartestpilot2004/lineartestpilot200403428/145472044-tattoo-in-black-line-style-of-a-d20-dice.jpg?ver=6"
  */
#treasurePage {
  background-image: url("https://wallpaper-house.com/data/out/9/wallpaper2you_311594.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: oldlace;
}

#monsterPage {
  background-image: url("https://cdn.openart.ai/stable_diffusion/3bb19a16e101a2ac2e7be1e19f41cbd8a8140ff2_2000x2000.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* width: 75vw; */
  color: oldlace;
}
.monsterDetails {
  flex-direction: column;
  align-items: center;
}
.monsterDetails h1 {
  font-size: 100px;
}

.monsterGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.monsterGroup1,
.monsterGroup2 {
  height: 75vh;
  background-color: oldlace;
  opacity: 75%;
  color: black;
  padding: 2%;
  margin: 2%;
  width: 40vw;
  height: fit-content;
  border-radius: 10px;
}

.monsterImage img {
  height: 40vh;
}
.monsterImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.statButton {
  align-self: end;
  margin-right: 2%;
}

#statHomeButton {
  margin-top: 2%;
  background-color: #282c34;
  border: none;
  width: 175px;
  margin-bottom: 2%;
  /* margin-right: auto; */
}
.monsterStats,
.boringStats {
  padding-top: 1%;
}
.monsterStats li {
  font-size: 1.2rem;
}
#monsterActions li {
  font-size: 1.2rem;
}
.boringStats {
  width: 50%;
  /* padding-left: 6% */
  /* padding-right: 5%; */
}
.boringStats p {
  font-size: large;
}
.speedList,
#armorType {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.monsterGroup2 li {
  font-size: medium;
}

.dropDowns {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  justify-content: space-evenly;
  align-content: center;
  height: 50vh;
  width: 35vw;
  text-align: center;
  background-color: oldlace;
  opacity: 75%;
  margin-left: auto;
  margin-right: auto;
  color: #282c34;
  border-radius: 35px;
}
.dropDowns label {
  font-weight: 500;
}
.dropDowns input,
.dropDowns select,
.dropDowns option {
  text-align: center;
  background-color: transparent;
  border-width: thick;
  /* border-color: #282c34; */
}

.dropDowns button {
  margin-top: 1%;
}
.equipment {
  display: flex;
  flex-direction: row;
}
.goldandMagic img {
  width: 40vh;
  padding-top: 10%;
}
#errorMessage,
#charError {
  color: red;
  font-size: x-large;
  font-weight: bold;
}
