/* .App {
  text-align: center;
} */

.App {
  font-family: "Gentium Book Plus", serif;
  margin-bottom: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "MedievalSharp", cursive;
  color: white;
  margin-bottom: 3%;
}
.generate {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-right: 7%;
}
.title {
  width: 75vw;
}
.characterVisual {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}
form {
  /* margin-right: auto; */
  margin-bottom: 2%;
}
.characterForm {
  display: flex;
}

#hideForm {
  display: none;
  /* height: 70vh; */
}
.topForm {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.names {
  margin-left: 50%;
  margin-top: 2%;
}
#name {
  font-size: medium;
}
#dice {
  width: 25vw;
  margin-left: 25%;
  margin-right: 2%;
  border: 0px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

a {
  margin: 1%;
}
#arrow {
  margin-top: 0;
}
#reroll {
  margin-bottom: 1%;
}
.form-group h2 {
  font-weight: bold;
}

.refresh {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* h3{
  text-decoration: underline;
} */
p,
li {
  font-size: 22px;
}
.icon {
  margin-left: auto;
}

.statsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.statGroup {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.explorers {
  align-self: auto;
}
/* character images */
.Dragonborn {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/340/420/618/636272677995471928.png");
  height: 69vh;
  /* border: 0; */
}

.Dwarf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/254/420/618/636271781394265550.png");
  height: 60vh;
  /* border: 0; */
}

.Elf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/7/639/420/618/636287075350739045.png");
  max-width: 23vw;
  border: solid 1px white;
  height: 70vh;
}

.Gnome {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/334/420/618/636272671553055253.png");
  height: 55vh;
  max-width: 23vw;
  /* border: 0; */
}

.Half-Elf {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/481/420/618/636274618102950794.png");
  max-width: 23vw;
  height: 70vh
  /* border: 0; */
}

.Halfling {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/256/420/618/636271789409776659.png");
  height: 65vh;
  max-width: 23vw;
  /* border: 0; */
}

.Half-Orc {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/466/420/618/636274570630462055.png");
  height: 65vh;
  max-width: 23vw;
  /* border: 0; */
}
.Human {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/258/420/618/636271801914013762.png");
  max-width: 20vw;
  height: 70vh;
  /* border: 0; */
}
.Tiefling {
  background-image: url("https://www.dndbeyond.com/avatars/thumbnails/7/641/420/618/636287076637981942.png");
  max-width: 23vw;
  height: 70vh;
  /* border: 0; */
}

/* "https://us.123rf.com/450wm/lineartestpilot/lineartestpilot2004/lineartestpilot200403428/145472044-tattoo-in-black-line-style-of-a-d20-dice.jpg?ver=6"
*/
